@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

body{
    font-family: "Poppins", sans-serif;
    background-color:#f6f9f6;
}
.page-title-container {
    width: 130px;
    text-align: right;
    flex-shrink: 0;
}

.page-title ,.title{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: #14532d;
    font-size: 28px;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
}

.page-container{
display:flex;
justify-content:center;
align-items:center;
padding:40px;
}


.card{
background:white;
border-radius:24px;
box-shadow:0 15px 35px rgba(0,0,0,0.1);
padding:40px;
width:600px;
border:1px solid #2E8B57;
}

.page-title{
text-align:center;
color:#14532D;
margin-bottom:30px;
position:relative;
padding-bottom:15px;
}

.page-title::after{
content:"";
width:180px;
height:4px;
background:#2E8B57;
position:absolute;
left:50%;
transform:translateX(-50%);
bottom:0;
}
.section{
margin-bottom:25px;
}

.choice-group{
display:flex;
gap:15px;
margin-top:10px;
font-weight: bold;
}
/*test*/
button.choice {
    background: white;
    border: 1px solid #E2E8F0;
    border-radius: 12px;
    padding: 20px;
    cursor: pointer;
    font-family: inherit;
    font-size: 16px;
    transition: all 0.3s ease;
    width: 100%; 
}

button.choice:hover {
    border-color: #14532d;
    background-color: #f0fdf4;
}

button.choice:focus {
    border: 2px solid #14532d;
    color: #14532d;
    outline: none;
}
/*test*/

.payment img{
width:30px;
display:block;
margin:auto;
margin-bottom:8px;
}
.form-group{
margin-bottom:20px;
}
.card-payment{
    display: none;
}
label{
font-size:14px;
font-weight:600;
color:#475569;
}

input{
width:100%;
padding:14px;
border-radius:12px;
border:2px solid #E2E8F0;
background:#F8FAFC;
margin-top:5px;
}

input:focus{
border-color:#2E8B57;
background:white;
outline:none;
}
.row{
display:flex;
gap:15px;
}

.buttons{
margin:25px;
display: flex;
gap: 40px;
}
a{
    display: block;
    text-align: center;
}
.btn1{
width: 200px;
height: 65px;
background:#1f3b2c;
color:white;
border:none;
padding:16px;
border-radius:40px;
font-weight:600;
cursor:pointer;
}

.btn1:hover{
background:#0e2a1a;
}
#adr{
    display: none;
}
.btn2{
height: 65px;
width: 200px;
border:2px solid #1f3b2c;
background:white;
border-radius:40px;
cursor:pointer;
font-weight: bold;
}
.error{
    color: red;
    font-size:16px;
    font-weight: bold;
    font-family: inherit;
    display: block;
    margin-top: 10px;
}
